# ~/.config/systemd/user/rust-hyper-unixh2c.service

[Unit]
AssertPathExists=%h/rust-hyper-unixh2c/target/release/rust-hyper-unixh2c

[Service]
WorkingDirectory=%h/rust-hyper-unixh2c
ExecStart=%h/rust-hyper-unixh2c/target/release/rust-hyper-unixh2c ./config/config.json
Restart=always
Environment=RUST_LOG=info
UMask=007

[Install]
WantedBy=default.target
